<h1>Lists for <%= @user.name %></h1>
<a href="/user/<%= @user.id %>/list">Create List</a>
<table>
  <tr>
    <th>Name</th>
    <th>Last Updated</th>
    <th>Status</th>
  </tr>
  <% @user.lists.each do |list| %>
    <tr>
    <td><a href="/user/<%= @user.id %>/list/<%= list.id %>" class="remote"><%= list.name %></a></td>
    <td><%= list.updated_at %></td>
    <td></td>
    </tr>
  <% end %>
</table>
